<% include('../partials/header') %>
<% console.log(weather) %>    
<!-- <h1>Weather for <%= weather.name %></h1>
    <p>Temperature: <%= weather.temp %>°F</p>
    <p>Humidity: <%= weather.humidity %>%</p>
    <p>Weather: <%= weather %></p> -->
<% include('../partials/footer') %>