<% include('partials/header') %>


<h1>Current Weather</h1>
    <form action="/weather" method="post" >
        <label for="zipCode">Zip Code:</label>
        <input type="number" id="zipCode" name="ZipCode" required class="zip">
        <button type="submit" id="submit">Get Weather</button>
    </form>




<% include('partials/footer') %>